/*!

 * startCSS (tmpl_lv3)

 * Author: Yuna
 */
 @import url(../lv2/style.css);

:root {
	--pink: #FF1493; /* rose */
}

/* header, footer */
header {
	background: var(--default-background);
	color: var(--default-color);
	border-bottom: 1px solid var(--default-color);
	padding: var(--padding) 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

header.row {
	box-sizing: content-box;
}

header .logo {
	font-size: 1.75rem;
	padding: var(--padding) calc(2 * var(--padding));
	text-decoration: none;
}

header button, header [type="button"], header .button, header [role="button"] {
	box-sizing: border-box;
    padding: var(--padding) 0;
    text-align: center;
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    color: var( --default-color);
}

header.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1101;
	top: 0;
}

header button:hover, header button:focus, header [type="button"]:hover, header [type="button"]:focus, header .button:hover, header .button:focus, header [role="button"]:hover, header [role="button"]:focus {
	background: var(--default-background);
	filter: brightness(75%);
}



footer {
	background: var(--default-background);
	color: var(--default-color);
	border-top: 1px solid var(--default-color);
	padding: calc(2 * var(--padding)) var(--padding);
}

footer a, footer a:visited {
	color: var(--pink);
}

footer.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1101;
	bottom: 0;
}

/* navigation */
nav {
	background: var(--default-background);
	color: var(--default-color);
	border: 1px solid var(--default-color);
	margin: var(--margin);
}

nav * {
	padding: var(--padding) calc(1.5 * var(--padding));
}

nav a, nav a:visited {
	display: block;
	color: var(--pink);
	transition: background 0.3s;
}

nav a:hover, nav a:focus, nav a:visited:hover, nav a:visited:focus {
	text-decoration: none;
	background: var(--default-background);
	filter: brightness(75%);
}

nav .lv1 {
	position: relative;
	margin-left: calc(2 * var(--padding));
}

nav .lv1:before {
	position: absolute;
	left: calc(var(--padding) - 1 * var(--padding));
	top: -0.0625rem;
	content: '';
	height: 100%;
	border: 0.0625rem solid var(--default-color);
	border-left: 0;
}

nav .lv2 {
	position: relative;
	margin-left: calc(4 * var(--padding));
}

nav .lv2:before {
	position: absolute;
	left: calc(var(--padding) - 3 * var(--padding));
	top: -0.0625rem;
	content: '';
	height: 100%;
	border: 0.0625rem solid var(--default-color);
	border-left: 0;
}

/* drawer */
.drawer-toggle:before {
	position: relative;
	top: .4375rem;
	font-family: sans-serif;
	font-size: 2.5rem;
	line-height: .125;
	content: '\2261'
}

.drawer {
	display: block;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 320px;
	height: 100vh;
	overflow-y: auto;
	background: var(--default-background);
	border: .0625rem solid var(--default-color);
	margin: 0;
	z-index: 1110
}

.drawer:not(.right) {
	left: -320px;
	transition: left 0.3s
}

.drawer.right {
	right: -320px;
	transition: right 0.3s
}

.drawer .close {
	position: absolute;
	top: .75rem;
	right: .25rem;
	z-index: 1111;
	padding: 0
}

@media screen and (max-width: 320px) {
	.drawer {
		width: 100%
	}
}

@media screen and (min-width: 768px) {
	.drawer:not(.persistent) {
		position: static;
		height: 100%;
		z-index: 1100
	}
	.drawer:not(.persistent) .close {
		display: none
	}
	.drawer-toggle:not(.persistent) {
		display: none
	}
}

:checked+.drawer:not(.right) {
	left: 0
}

:checked+.drawer.right {
	right: 0
}

#demo-toggle {
	display: none;
}

/* pagination */
.pagination {
	display: flex;
	display: -ms-flexbox;
	list-style: none;
	margin: .2rem 0;
	padding: .2rem 0;
}

.pagination .page-item {
	margin: .2rem .05rem;
}

.pagination .page-item span {
	display: inline-block;
	padding: .2rem .2rem;
}

.pagination .page-item a {
	color: var(--pink);
	border-radius: .1rem;
	display: inline-block;
	padding: .2rem .4rem;
	text-decoration: none;
}

.pagination .page-item a:focus,
.pagination .page-item a:hover {
	color: var(--pink);
}

.pagination .page-item.disabled a {
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

.pagination .page-item.active a {
	background: var(--default-background);
	color: var(--default-color);
}

.pagination .page-item.page-prev,
.pagination .page-item.page-next {
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}

.pagination .page-item.page-next {
	text-align: right;
}

.pagination .page-item .page-item-title {
	margin: 0;
}

.pagination .page-item .page-item-subtitle {
	margin: 0;
	opacity: .5;
}

/* toast, tooltip, modal, collapse */

/* tabs */

/* filter */

/* banner */

/* progress, spinner */

/* breadcrumb */

/* news ticker */

/* utilities */

/* btn close */
.close {
	display: inline-block;
	width: 1.5rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 700;
	border-radius: 2rem;
	background: var(--default-background);
	vertical-align: top;
	cursor: pointer;
	transition: background 0.3s
}

.close:hover,
.close:focus {
	background: var(--default-background);
	border: 1px solid var(--default-color);
}

.close:before {
	content: "\00D7";
	display: block;
	text-align: center
}

/* icon (base64) */

/* blink */

/* easteregg */
