/*!

 * startCSS (tmpl_lv3)

 * Author: Yuna
 */
 @import url(../lv2/style.css);

:root {
	--pink: #FF1493; /* rose */
}

/* header, footer */
header {
	background: var(--default-background);
	color: var(--default-color);
	border-bottom: 1px solid var(--default-color);
	padding: var(--padding) 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

header.row {
	box-sizing: content-box;
}

header .logo {
	font-size: 1.75rem;
	padding: var(--padding) calc(2 * var(--padding));
	text-decoration: none;
}

header button, header [type="button"], header .button, header [role="button"] {
	box-sizing: border-box;
    padding: var(--padding) 0;
    text-align: center;
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    color: var( --default-color);
}

header.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1101;
	top: 0;
}

header button:hover, header button:focus, header [type="button"]:hover, header [type="button"]:focus, header .button:hover, header .button:focus, header [role="button"]:hover, header [role="button"]:focus {
	background: var(--default-background);
	filter: brightness(75%);
}



footer {
	background: var(--default-background);
	color: var(--default-color);
	border-top: 1px solid var(--default-color);
	padding: calc(2 * var(--padding)) var(--padding);
}

footer a, footer a:visited {
	color: var(--pink);
}

footer.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1101;
	bottom: 0;
}

/* navigation */
nav {
	background: var(--default-background);
	color: var(--default-color);
	border: 1px solid var(--default-color);
	margin: var(--margin);
}

nav * {
	padding: var(--padding) calc(1.5 * var(--padding));
}

nav a, nav a:visited {
	display: block;
	color: var(--pink);
	transition: background 0.3s;
}

nav a:hover, nav a:focus, nav a:visited:hover, nav a:visited:focus {
	text-decoration: none;
	background: var(--default-background);
	filter: brightness(75%);
}

nav .lv1 {
	position: relative;
	margin-left: calc(2 * var(--padding));
}

nav .lv1:before {
	position: absolute;
	left: calc(var(--padding) - 1 * var(--padding));
	top: -0.0625rem;
	content: '';
	height: 100%;
	border: 0.0625rem solid var(--default-color);
	border-left: 0;
}

nav .lv2 {
	position: relative;
	margin-left: calc(4 * var(--padding));
}

nav .lv2:before {
	position: absolute;
	left: calc(var(--padding) - 3 * var(--padding));
	top: -0.0625rem;
	content: '';
	height: 100%;
	border: 0.0625rem solid var(--default-color);
	border-left: 0;
}

/* drawer */
.drawer-toggle:before {
	position: relative;
	top: .4375rem;
	font-family: sans-serif;
	font-size: 2.5rem;
	line-height: .125;
	content: '\2261'
}

.drawer {
	display: block;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 320px;
	height: 100vh;
	overflow-y: auto;
	background: var(--default-background);
	border: .0625rem solid var(--default-color);
	margin: 0;
	z-index: 1110
}

.drawer:not(.right) {
	left: -320px;
	transition: left 0.3s
}

.drawer.right {
	right: -320px;
	transition: right 0.3s
}

.drawer .close {
	position: absolute;
	top: .75rem;
	right: .25rem;
	z-index: 1111;
	padding: 0
}

@media screen and (max-width: 320px) {
	.drawer {
		width: 100%
	}
}

@media screen and (min-width: 768px) {
	.drawer:not(.persistent) {
		position: static;
		height: 100%;
		z-index: 1100
	}
	.drawer:not(.persistent) .close {
		display: none
	}
	.drawer-toggle:not(.persistent) {
		display: none
	}
}

:checked+.drawer:not(.right) {
	left: 0
}

:checked+.drawer.right {
	right: 0
}

#demo-toggle {
	display: none;
}

/* pagination */
.pagination {
	display: flex;
	display: -ms-flexbox;
	list-style: none;
	margin: .2rem 0;
	padding: .2rem 0;
}

.pagination .page-item {
	margin: .2rem .05rem;
}

.pagination .page-item span {
	display: inline-block;
	padding: .2rem .2rem;
}

.pagination .page-item a {
	color: var(--pink);
	border-radius: .1rem;
	display: inline-block;
	padding: .2rem .4rem;
	text-decoration: none;
}

.pagination .page-item a:focus,
.pagination .page-item a:hover {
	color: var(--pink);
}

.pagination .page-item.disabled a {
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

.pagination .page-item.active a {
	background: var(--default-background);
	color: var(--default-color);
}

.pagination .page-item.page-prev,
.pagination .page-item.page-next {
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}

.pagination .page-item.page-next {
	text-align: right;
}

.pagination .page-item .page-item-title {
	margin: 0;
}

.pagination .page-item .page-item-subtitle {
	margin: 0;
	opacity: .5;
}

/* toast, tooltip, modal, collapse */
.toast {
	position: fixed;
	bottom: calc(var(--margin) * 3);
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1111;
	color: var(--default-color);
	background: var(--default-background);
	border-radius: calc(var(--radius) * 16);
	border: 1px solid var(--default-color);
	padding: var(--padding) calc(var(--padding) * 3);
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip:before, .tooltip:after {
	position: absolute;
	opacity: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	transition: all 0.3s;
	z-index: 1010;
	left: 50%;
}

.tooltip:not(.bottom):before, .tooltip:not(.bottom):after {
	bottom: 75%;
}

.tooltip.bottom:before, .tooltip.bottom:after {
	top: 75%;
}

.tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after {
	opacity: 1;
	clip: auto;
	-webkit-clip-path: inset(0%);
	clip-path: inset(0%);
}

.tooltip:before {
	content: '';
	background: transparent;
	border: var(--margin) solid transparent;
	left: calc(50% - var(--margin));
}

.tooltip:not(.bottom):before {
	border-top-color: var(--default-color);
}

.tooltip.bottom:before {
	border-bottom-color: var(--default-color);
}

.tooltip:after {
	content: attr(aria-label);
	color: var(--default-color);
	background: var(--default-background);
	border-radius: var(--radius);
	border: 1px solid var(--default-color);
	padding: var(--padding);
	white-space: nowrap;
	transform: translateX(-50%);
}

.tooltip:not(.bottom):after {
	margin-bottom: calc(2 * var(--margin));
}

.tooltip.bottom:after {
	margin-top: calc(2 * var(--margin));
}

#modal-check {
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

[type="checkbox"].modal {
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

[type="checkbox"].modal + div {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: var(--modal-overlay-color);
}

[type="checkbox"].modal + div .card {
	margin: 0 auto;
	max-height: 50vh;
	overflow: auto;
}

[type="checkbox"].modal + div .card .modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: var(--universal-border-radius);
	padding: var(--universal-padding);
	margin: 0;
	cursor: pointer;
	transition: background 0.3s;
}

[type="checkbox"].modal + div .card .modal-close:before {
	display: block;
	content: '\00D7';
	color: var(--modal-close-color);
	position: relative;
	font-family: sans-serif;
	font-size: 1.75rem;
	line-height: 1;
	text-align: center;
}

[type="checkbox"].modal + div .card .modal-close:hover, [type="checkbox"].modal + div .card .modal-close:focus {
	background: var(--modal-close-hover-color);
}

[type="checkbox"].modal:checked + div {
	display: flex;
	flex: 0 1 auto;
	z-index: 1200;
}

[type="checkbox"].modal:checked + div .card .modal-close {
	z-index: 1211;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75)
}

.modal .card {
	margin: 0 auto;
	max-width: 90%;
	max-height: 50vh;
	overflow: auto
}

.modal .card .close {
	position: absolute;
	top: .75rem;
	right: .25rem;
	padding: 0
}

:checked+.modal {
	display: -webkit-box;
	-webkit-box-flex: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	z-index: 1200
}

:checked+.modal .card .close {
	z-index: 1211
}

.collapse {
	width: calc(100% - 2 * var(--margin));
	opacity: 1;
	display: flex;
	flex-direction: column;
	margin: var(--margin);
	border-radius: var(--radius);
}

.collapse > [type="radio"], .collapse > [type="checkbox"] {
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.collapse > label {
	flex-grow: 1;
	display: inline-block;
	height: 1.5rem;
	cursor: pointer;
	transition: background 0.3s;
	color: var(--default-color);
	background: var(--default-background);
	border: 0.0625rem solid var(--default-color);
	padding: calc(2 * var(--padding));
	margin: 0;
}

.collapse > label:hover, .collapse > label:focus {
	background: var(--pink);
}

.collapse > label + div {
	flex-basis: auto;
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	transition: max-height 0.3s;
	max-height: 1px;
}

.collapse > :checked + label {
	color: var(--black);
	background: var(--grey);
	border-bottom-color: var(--default-color);
}

.collapse > :checked + label + div {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	margin: 0;
	background: var(--default-backgorund);
	border: 0.0625rem solid var(--default-color);
	border-top: 0;
	padding: var(--universal-padding);
	clip: auto;
	-webkit-clip-path: inset(0%);
	clip-path: inset(0%);
	max-height: 400px;
}

.collapse > label:not(:first-of-type) {
	border-top: 0;
}

.collapse > label:first-of-type {
	border-radius: var(--radius) var(--radius) 0 0;
}

.collapse > label:last-of-type:not(:first-of-type) {
	border-radius: 0 0 var(--radius) var(--radius);
}

.collapse > label:last-of-type:first-of-type {
	border-radius: var(--radius);
}

.collapse > :checked:last-of-type:not(:first-of-type) + label {
	border-radius: 0;
}

.collapse > :checked:last-of-type + label + div {
	border-radius: 0 0 var(--radius) var(--radius);
}

/* tabs */

/* filter */

/* banner */

/* progress, spinner */

/* breadcrumb */

/* news ticker */

/* utilities */

/* btn close */
.close {
	display: inline-block;
	width: 1.5rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 700;
	border-radius: 2rem;
	background: var(--default-background);
	vertical-align: top;
	cursor: pointer;
	transition: background 0.3s
}

.close:hover,
.close:focus {
	background: var(--default-background);
	border: 1px solid var(--default-color);
}

.close:before {
	content: "\00D7";
	display: block;
	text-align: center
}

/* icon (base64) */

/* blink */

/* easteregg */
