/*!
 * startCSS (tmpl_lv2)
 * Author: Yuna
 */
 @import url(../lv1/style.css);

/* Root */
:root {
	--container: 90%;
	--columns: 12;
	--heading-ratio: 1.25;
	--margin: 0.5rem;
	--margin-bottom: 20px;
	--padding: 0.5rem;
	--radius: 4px;

	--white: #f8f8f8;
	--black: #111;
	--grey: #ddd;
	--lightgrey: #dadee4;
	--darkgrey: #4E4E4E;
	--primary: #090990; /* blue */
	--success: #689f38; /* green */
	--warning: #ffca28; /* yellow */
	--error: #b71c1c; /* red */

	--default-background: #f8f8f8;
	--default-color:  #333;
}

/* Root black theme */
@media screen and (prefers-color-scheme: dark){
    /* si le theme dark est choisi sur le navigateur */
	:root{
		--default-background: #333;
		--default-color:  #f8f8f8;
	}
}

/* #################### */
/* BODY */
/* #################### */
body {
	background-color: var(--default-background);
	color: var(--default-color);
}

/* #################### */
/* GRID */
/* #################### */
.container {
	max-width: var(--container);
	margin: 0 auto;
	padding: 0 calc(1.5 * var(--padding));
}

.row {display: flex; flex-wrap: wrap; flex-flow: row wrap;}
.row-top {align-items: flex-start;}
.row-middle {align-items: center;}
.row-bottom {align-items: flex-end;}
.row-stretch {align-items: stretch;}
.row-baseline {align-items: baseline;}
.row-left {justify-content: flex-start;}
.row-center {justify-content: center;}
.row-right {justify-content: flex-end;}
.row-between {justify-content: space-between;}
.row-around {justify-content: space-around;}

/* #################### */
/* CELL */
/* #################### */
.cell {flex:1;}
.cell-2 {flex:2}
.cell-3 {flex:3}

/* #################### */
/* COLUMNS */
/* #################### */

/*.col {box-sizing: border-box; flex-shrink: 0;}*/
.col-1 {width: calc(100% * 1 / var(--columns));}
.col-2 {width: calc(100% * 2 / var(--columns));}
.col-3 {width: calc(100% * 3 / var(--columns));}
.col-4 {width: calc(100% * 4 / var(--columns));}
.col-5 {width: calc(100% * 5 / var(--columns));}
.col-6 {width: calc(100% * 6 / var(--columns));}
.col-7 {width: calc(100% * 7 / var(--columns));}
.col-8 {width: calc(100% * 8 / var(--columns));}
.col-9 {width: calc(100% * 9 / var(--columns));}
.col-10 {width: calc(100% * 10 / var(--columns));}
.col-11 {width: calc(100% * 11 / var(--columns));}
.col-12 {width: 100%;}
.col-fill {width: 0; min-width: 0; flex-grow: 1;}

/* mobile // xs */
@media ( max-width: 767px ) {
	/*.col,*/
	[class*="col-xs-"], [class^='col-xs-'],
	[class*="col-md-"], [class^='col-md-'],
	[class*="col-l-"], [class^='col-l-'],
	[class*="col-xl-"], [class^='col-xl-'] {flex: 0 1 100%;max-width: 100%;}
	.col-xs-1 {flex: 0 0 calc((100% / (var(--columns)/1)));max-width: calc((100% / (var(--columns)/1)));}
	.col-xs-2 {flex: 0 0 calc((100% / (var(--columns)/2)));max-width: calc((100% / (var(--columns)/2)));}
	.col-xs-3 {flex: 0 0 calc((100% / (var(--columns)/3)));max-width: calc((100% / (var(--columns)/3)));}
	.col-xs-4 {flex: 0 0 calc((100% / (var(--columns)/4)));max-width: calc((100% / (var(--columns)/4)));}
	.col-xs-5 {flex: 0 0 calc((100% / (var(--columns)/5)));max-width: calc((100% / (var(--columns)/5)));}
	.col-xs-6 {flex: 0 0 calc((100% / (var(--columns)/6)));max-width: calc((100% / (var(--columns)/6)));}
	.col-xs-7 {flex: 0 0 calc((100% / (var(--columns)/7)));max-width: calc((100% / (var(--columns)/7)));}
	.col-xs-8 {flex: 0 0 calc((100% / (var(--columns)/8)));max-width: calc((100% / (var(--columns)/8)));}
	.col-xs-9 {flex: 0 0 calc((100% / (var(--columns)/9)));max-width: calc((100% / (var(--columns)/9)));}
	.col-xs-10 {flex: 0 0 calc((100% / (var(--columns)/10)));max-width: calc((100% / (var(--columns)/10)));}
	.col-xs-11 {flex: 0 0 calc((100% / (var(--columns)/11)));max-width: calc((100% / (var(--columns)/11)));}
	.col-xs-12 {flex: 0 0 calc((100% / (var(--columns)/var(--columns))));max-width: calc((100% / (var(--columns)/12)));}
}

/* tablette // md */
@media ( min-width : 768px ) {
	.col-md-1 {flex: 0 0 calc((100% / (var(--columns)/1)));max-width: calc((100% / (var(--columns)/1)));}
	.col-md-2 {flex: 0 0 calc((100% / (var(--columns)/2)));max-width: calc((100% / (var(--columns)/2)));}
	.col-md-3 {flex: 0 0 calc((100% / (var(--columns)/3)));max-width: calc((100% / (var(--columns)/3)));}
	.col-md-4 {flex: 0 0 calc((100% / (var(--columns)/4)));max-width: calc((100% / (var(--columns)/4)));}
	.col-md-5 {flex: 0 0 calc((100% / (var(--columns)/5)));max-width: calc((100% / (var(--columns)/5)));}
	.col-md-6 {flex: 0 0 calc((100% / (var(--columns)/6)));max-width: calc((100% / (var(--columns)/6)));}
	.col-md-7 {flex: 0 0 calc((100% / (var(--columns)/7)));max-width: calc((100% / (var(--columns)/7)));}
	.col-md-8 {flex: 0 0 calc((100% / (var(--columns)/8)));max-width: calc((100% / (var(--columns)/8)));}
	.col-md-9 {flex: 0 0 calc((100% / (var(--columns)/9)));max-width: calc((100% / (var(--columns)/9)));}
	.col-md-10 {flex: 0 0 calc((100% / (var(--columns)/10)));max-width: calc((100% / (var(--columns)/10)));}
	.col-md-11 {flex: 0 0 calc((100% / (var(--columns)/11)));max-width: calc((100% / (var(--columns)/11)));}
	.col-md-12 {flex: 0 0 calc((100% / (var(--columns)/var(--columns))));max-width: calc((100% / (var(--columns)/var(--columns))));}
}

/* desktop // l */
@media ( min-width : 992px ) {
	.col-l-1 {flex: 0 0 calc((100% / (var(--columns)/1)));max-width: calc((100% / (var(--columns)/1)));}
	.col-l-2 {flex: 0 0 calc((100% / (var(--columns)/2)));max-width: calc((100% / (var(--columns)/2)));}
	.col-l-3 {flex: 0 0 calc((100% / (var(--columns)/3)));max-width: calc((100% / (var(--columns)/3)));}
	.col-l-4 {flex: 0 0 calc((100% / (var(--columns)/4)));max-width: calc((100% / (var(--columns)/4)));}
	.col-l-5 {flex: 0 0 calc((100% / (var(--columns)/5)));max-width: calc((100% / (var(--columns)/5)));}
	.col-l-6 {flex: 0 0 calc((100% / (var(--columns)/6)));max-width: calc((100% / (var(--columns)/6)));}
	.col-l-7 {flex: 0 0 calc((100% / (var(--columns)/7)));max-width: calc((100% / (var(--columns)/7)));}
	.col-l-8 {flex: 0 0 calc((100% / (var(--columns)/8)));max-width: calc((100% / (var(--columns)/8)));}
	.col-l-9 {flex: 0 0 calc((100% / (var(--columns)/9)));max-width: calc((100% / (var(--columns)/9)));}
	.col-l-10 {flex: 0 0 calc((100% / (var(--columns)/10)));max-width: calc((100% / (var(--columns)/10)));}
	.col-l-11 {flex: 0 0 calc((100% / (var(--columns)/11)));max-width: calc((100% / (var(--columns)/11)));}
	.col-l-12 {flex: 0 0 calc((100% / (var(--columns)/var(--columns))));max-width: calc((100% / (var(--columns)/var(--columns))));}
}

/* desktop large // xl */
@media ( min-width : 1200px ) {
	.col-xl-1 {flex: 0 0 calc((100% / (var(--columns)/1)));max-width: calc((100% / (var(--columns)/1)));}
	.col-xl-2 {flex: 0 0 calc((100% / (var(--columns)/2)));max-width: calc((100% / (var(--columns)/2)));}
	.col-xl-3 {flex: 0 0 calc((100% / (var(--columns)/3)));max-width: calc((100% / (var(--columns)/3)));}
	.col-xl-4 {flex: 0 0 calc((100% / (var(--columns)/4)));max-width: calc((100% / (var(--columns)/4)));}
	.col-xl-5 {flex: 0 0 calc((100% / (var(--columns)/5)));max-width: calc((100% / (var(--columns)/5)));}
	.col-xl-6 {flex: 0 0 calc((100% / (var(--columns)/6)));max-width: calc((100% / (var(--columns)/6)));}
	.col-xl-7 {flex: 0 0 calc((100% / (var(--columns)/7)));max-width: calc((100% / (var(--columns)/7)));}
	.col-xl-8 {flex: 0 0 calc((100% / (var(--columns)/8)));max-width: calc((100% / (var(--columns)/8)));}
	.col-xl-9 {flex: 0 0 calc((100% / (var(--columns)/9)));max-width: calc((100% / (var(--columns)/9)));}
	.col-xl-10 {flex: 0 0 calc((100% / (var(--columns)/10)));max-width: calc((100% / (var(--columns)/10)));}
	.col-xl-11 {flex: 0 0 calc((100% / (var(--columns)/11)));max-width: calc((100% / (var(--columns)/11)));}
	.col-xl-12 {flex: 0 0 calc((100% / (var(--columns)/var(--columns))));max-width: calc((100% / (var(--columns)/var(--columns))));}
}

/* Typo */
h1, h2, h3, h4, h5, h6 {margin-bottom: 0;}
h1 {font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));}
h2 {font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));}
h3 {font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));}
h4 {font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));}
h5 {font-size: calc(1rem * var(--heading-ratio));}
h6 {font-size: 1rem;}

/* code */
code {
	display: block;
    white-space: pre;
	border-left: 5px solid var(--success);
	background: var(--lightgrey);
	color: var(--black);
}

/* card */
.card {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-webkit-box-align: center;

    	display: flex;
	display: -webkit-flex;
	
	flex-direction: column;
	-webkit-flex-direction: column;

	justify-content: space-between;
	-webkit-justify-content: space-between;

	align-self: center;
	-webkit-align-self: center;

	position: relative;
	flex: 1;
	background: var(--default-background);
	color: var(--default-color);
	border-radius: var(--radius);
	border: .0625rem solid var(--grey);
	overflow: hidden;
}

.card > .section {
	box-sizing: border-box;
	border: 0;
	border-radius: 0;
	width: 100%;
}

/* tabs */
.tabs {
	width: calc(100% - 2 * var(--margin));
	opacity: 1;
	display: -webkit-box;
	-webkit-box-pack: justify;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}

.tabs>label {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-order: 1;
	order: 1;
	display: inline-block;
	height: 1.5rem;
	cursor: pointer;
	transition: background 0.3s;
	border: .0625rem solid var(--grey);
}

.tabs>label:hover,
.tabs>label:focus {
	background: var(--blue);
}

.tabs>[type="radio"],
.tabs>[type="checkbox"] {
	display: none;
	visibility: hidden
}

.tabs>label+div {
	-webkit-flex-basis: auto;
	flex-basis: auto;
	-webkit-order: 2;
	order: 2;
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	transform-origin: top;
	transition: -webkit-transform 0.3s, transform 0.3s
}

.tabs>label:not(:first-of-type) {
	border-left: 0
}

.tabs>:checked+label {
	background: var(--grey);
	border-bottom-color: var(--blue);
}

.tabs>:checked+label:hover,
.tabs>:checked+label:focus {
	background: var(--blue);
}

.tabs>:checked+label+div {
	box-sizing: border-box;
	position: relative;
	height: 400px;
	width: 100%;
	overflow: auto;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	border: .0625rem solid var(--grey);
	border-top: 0;
	padding: .5rem;
	clip: auto;
	-webkit-clip-path: inset(0%);
	clip-path: inset(0%)
}

.tabs.stacked {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column
}

.tabs.stacked>label {
	-webkit-order: initial;
	order: initial
}

.tabs.stacked>:checked+label {
	border: .0625rem solid var(--grey);
	border-bottom: .0625rem solid var(--blue);
}

.tabs.stacked>label+div {
	-webkit-order: initial;
	order: initial;
	-webkit-transform-origin: top;
	transform-origin: top
}

.tabs.stacked>label {
	border: .0625rem solid var(--grey);
	border-top: 0
}

.tabs.stacked>label:first-of-type {
	border-top: .0625rem solid var(--grey);
}

.tabs.stacked>:checked+label+div {
	height: auto;
}

/* forms */
form {
	background: var(--default-background);
	color: var(--default-color);
	border: 0.0625rem solid var(--grey);
	border-radius: var(--radius);
	padding: calc(2 * var(--padding)) var(--padding);
}

form > input, 
form > textarea, 
form > select, 
form > button {
	max-width: 100%;
	box-sizing: border-box;
}

button,
input,
textarea,
select,
fieldset, 
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {margin-bottom: 0;}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: var(--grey);
}

input:disabled {background-color: var(--lightgrey);}

/* table */
.table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left; 
	width: 100%;
}

.table.table-striped tbody tr {
	background: var(--white);
	color: var(--black);
}
.table.table-striped tbody tr:nth-of-type(odd) {
	background: var(--grey);
}

.table tbody tr.active, .table.table-striped tbody tr.active {
	background: var(--white);
}

.table.table-hover tbody tr:hover {
	filter: brightness(85%);
}

.table.table-scroll {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

.table td, .table th {
	border-bottom: .05rem solid var(--lightgrey);
}

.table th {
	border-bottom-width: .1rem;
}

/* utilities (basic) */
.center {text-align: center;}
.wfull {width: 100%;}

.m {margin: var(--margin);}
.mt {margin-top: var(--margin);}
.mb {margin-bottom: var(--margin-bottom);}
.ml {margin-left: var(--margin);}
.mr {margin-right: var(--margin);}

.p {padding: var(--padding);}
.pt {padding-top: var(--padding);}
.pb {padding-bottom: var(--padding);}
.pl {padding-left: var(--padding);}
.pr {padding-right: var(--padding);}

.p-lg {padding: calc(var(--padding) * 3);}
.pt-lg {padding-top: calc(var(--padding) * 3);}
.pb-lg {padding-bottom: calc(var(--padding) * 3);}
.pl-lg {padding-left: calc(var(--padding) * 3);}
.pr-lg {padding-right: calc(var(--padding) * 3);}

.illuminati {position: absolute; visibility: hidden;}

.bg-white{background-color: var(--white) !important;}
.bg-grey{background-color: var(--grey) !important;}
.bg-black{background-color: var(--black) !important;}
.bg-primary{background-color: var(--primary) !important;}
.bg-success{background-color: var(--success) !important;}
.bg-warning{background-color: var(--warning) !important;}
.bg-error{background-color: var(--error) !important;}

.color-white{color: var(--white) !important;}
.color-grey{color: var(--grey) !important;}
.color-black{color: var(--black) !important;}
.color-primary{color: var(--primary) !important;}
.color-success{color: var(--success) !important;}
.color-warning{color: var(--warning) !important;}
.color-error{color: var(--error) !important;}

/* #################### */
/* hide & show */
/* #################### */
/* mobile // xs */
@media ( max-width: 767px ) {
	.hide-xs{display: none;}
	.show-md{display: none;}
	.show-l{display: none;}
	.show-xl{display: none;}
}

/* tablette // md */
@media ( min-width : 768px ) {
	.hide-md{display: none;}
	.show-xs{display: none;}
	.show-l{display: none;}
	.show-xl{display: none;}
}

/* desktop // l */
@media ( min-width : 992px ) {
	.hide-l{display: none;}
	.show-xs{display: none;}
	.show-md{display: none;}
	.show-xl{display: none;}
}

/* desktop large // xl */
@media ( min-width : 1200px ) {
	.hide-xl{display: none;}
	.show-xs{display: none;}
	.show-md{display: none;}
	.show-l{display: none;}
}
